%h1= @company.name

%h2 Contacts (#{@company.contacts.count})
%ul
  - @company.contacts.each do |contact|
    %li= contact.name

%h2 Invoices
%table.table
  - @company.invoices.each do |invoice|
    %tr
      %td= invoice.name
      %td= invoice.issue_date
      %td
        = invoice.total_with_vat
        = invoice.currency
